<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Person</h4>
      </div>
<form action="{{ request.path }}" method="post" class="modal-compose">
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-6">
        <input name="firstname" type="text" class="form-control" id="firstname" value="{{ entry.firstname if entry else "" }}" placeholder="First Name"/>
      </div>
      <div class="col-lg-6">
        <input name="lastname" type="text" class="form-control" id="lastname" value="{{ entry.lastname if entry else "" }}" placeholder="Last Name"/>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <input name="dob" type="text" class="form-control" id="dob" value="{{ entry.dob if entry else "" }}" placeholder="Date of birth (YYYY-MM-DD)"/>
      </div>
      <div class="col-lg-6">
        <input name="zip_code" type="text" class="form-control" id="zip_code" value="{{ entry.zip_code if entry else "" }}" placeholder="Zip code"/>
      </div>
    </div>
    
  </div>
  <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" value="{{ _("Save changes") if entry else _("Create Person") }}" class="btn btn-primary"/>

    {% if entry %}
      <input type="hidden" name="id" value="{{ entry.id }}"/>
    {% end %}
    {% module xsrf_form_html() %}
  </div>
</form>